.profile__info {
  display: flex;
  flex-direction: row;
  width: 336px;
  margin-left: 30px;
  margin-right: 244px;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}


@media screen and (max-width: 930px) {
  .profile__info {
    width: 270px;
    margin-left: 60px;
    margin-top: 5px;
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .profile__info {
    width: 230px;
    margin-left: 45px;
  }
}