.popup__input {
  margin-left: 35px;
  max-width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-bottom: 30px;
}

@media screen and (max-width: 550px) {
  .popup__input {
    max-width: 238px;
    margin-bottom: 28px;
    margin-left: 19px;
  }
}